<div class="container-fluid" style="margin-top:80px">
  <div class="alert alert-info">
    {{orderModel}}
  </div>


  <div id="site" ng-show="!orderModel.site">
    <input type="radio" ng-model="orderModel.site" value="site">Site
    <input type="radio" ng-model="orderModel.site" value="app">App
  </div>

  <div id="app" ng-show="orderModel.site ==='app'">
    <div id="env">
      <input type="radio" ng-model="orderModel.env" value="drupal">Drupal
      <input type="radio" ng-model="orderModel.env" value="java">Java
      <input type="radio" ng-model="orderModel.env" value="python">Python
    </div>
    <div id="db" ng-show="orderModel.env">
      <input type="radio" ng-model="orderModel.db" value="no">No
      <input type="radio" ng-model="orderModel.db" value="yes">Yes
    </div>
  </div>

  <div ng-show="orderModel.site ==='site' || (orderModel.site ==='app' && orderModel.env  && orderModel.db)">
    <div id="itar">
      Sensitive data?
      <input type="radio" ng-model="orderModel.itar" value="no">No
      <input type="radio" ng-model="orderModel.itar" value="yes">Yes
    </div>
    <div id="url">
      url <input type="text" ng-model=orderModel.url>
    </div>
    <div id="shortcode">
      shortcode <input type="text" ng-model=orderModel.shortcode>
    </div>
  </div>
  </div
