<div class="container-fluid" style="margin-top:80px">
  <div class="alert alert-success sr-only" role="alert">Switched to order view</div>
  <div class="container">
    <a class="secretCorner" aria-hidden="true" href="" ng-click="showDebug = !showDebug">&nbsp;</a>
    <div  ng-show="showDebug">
      orderModel
      <div class="alert alert-info">
        {{orderModel}}
      </div>
      validationModel
      <div class="alert alert-danger">
        {{validationModel}}
      </div>
      failedValidation
      <div class="alert alert-info">
        {{failedValidation}} <br>
        order complete: {{orderComplete}}
      </div>
    </div>

    <!--Application Environment Options-->
    <div id="app">
      <div id="env" ng-class="failedValidation.env ? 'has-danger' : 'class-if-false'">
        <fieldset class="form-group">
          <legend>Choose An Environment</legend>
          <p><span class="required">* </span>Choose an enviroment from the selection below. If all you need is a simple website you might want to take a look at <a target="_blank" href="https://sites.google.com">Google Sites. <span class="sr-only">(opens in new tab)</span></a></p>
          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio" type="radio" ng-model="orderModel.env" value="drupal" class="form-check-input" required>
                    Drupal
                </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="python2" class="form-check-input">
                    Python 2.x
                  </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="python3" class="form-check-input">
                    Python 3.x
                  </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="ruby" class="form-check-input">
                    Ruby
                  </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="java" class="form-check-input">
                    Java
                  </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="nodejs" class="form-check-input">
                    NodeJS
                  </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
                    <input name="env-radio"  type="radio" ng-model="orderModel.env" value="php" class="form-check-input">
                    PHP
                  </label>
          </div>
        </fieldset>
      </div>
      <!--Database Options-->
      <div id="db">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" ng-model="orderModel.db" class="form-check-input">
              Add a database to this environment.
          </label>
      </div>

    </div>

    <!--URL, Availibilty, Sensitive Data, free or not -->
    <div ng-show="orderModel.env" class="fadein fadeout">
      <fieldset class="form-group">
        <legend>Additional Information</legend>
        <div id="url" ng-class="failedValidation.url ? 'has-danger' : 'class-if-false'">
          <label for="url-input"><span class="required">* </span>Choose a prefix for your site's address, letters and numbers only.</label>
          <div id="urlValidationMessage" role="alert" tabindex="0" class="validationMessage" ng-show="validationModel.url===false">{{validationModel.url_reason}}</div>
          <div class="form-inline" ng-class="validationModel.url===false ? 'has-danger' : 'class-if-false'">
            <input id="url-input" required type="text" ng-model="orderModel.url" ng-blur="validateUrl()" class="form-control" placeholder="Enter url">&nbsp; . &nbsp;
            <input type="text" disabled class="form-control" placeholder="web.umich.edu"> &nbsp;&nbsp;<span ng-show="orderModel.url"> https://{{orderModel.url}}.web.umich.edu </span>
          </div>
        </div>

        <div id="avail" style="margin-top:30px;">
          <div class="form-check">
            <p>Your environment can be set to scale with demand so that it will be highly available </p>
            <label class="form-check-label">
                    <input type="checkbox" ng-model="orderModel.avail" class="form-check-input">
                    I want my site/app to be highly available.
                </label>
          </div>
        </div>
        <div id="itar" style="margin-top:30px;" ng-class="failedValidation.itar ? 'has-danger' : 'class-if-false'">
          <p><span class="required">* </span>Does your site contain sensitive data? <a target="_blank" href="https://www.safecomputing.umich.edu/dataguide/?q=home">Read more about the Umich Sensitive Data Guide <span class="sr-only"> (opens in new tab)</span></span></a></p>
          <div class="form-radio">
            <label class="form-check-label">
                    <input required name="itar-radio" type="radio" ng-model="orderModel.itar" value="yes" class="form-radio-input">
                    Yes. My Site will host sensitive data
                </label>
          </div>
          <div class="form-radio">
            <label class="form-check-label">
                    <input name="itar-radio" type="radio" ng-model="orderModel.itar"  value="no" class="form-radio-input">
                    No. My Site will not host sensitive data
                </label>
          </div>
        </div>
        <!--Free Usage-->
        <div id="free" ng-show="orderModel.env !== null && orderModel.shortcode ===null" style="margin-top:30px;">
          <fieldset class="form-group">
            <legend>Academic Use</legend>
            <p>Web Platforms is free for use within official University of Michigan courses. Instances will be deleted six weeks after the end of the semester in which they are used.</p>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" ng-click="passFocus('course')" ng-model="orderModel.free" class="form-check-input">
                  My site/application will be used to support a registered University course
              </label>
            </div>
            <div id="course" tabindex="0" class="fadein fadeout focusTarget" ng-show="orderModel.free" ng-class="failedValidation.course ? 'has-danger' : 'class-if-false'">
              <label for="course-input"><span class="required">* </span>Course</label>
              <input type="text" id="course-input" ng-model="orderModel.course" class="form-control" placeholder="Enter course name" style="width:30%;">
            </div>
            <div id="term" ng-show="orderModel.free" ng-class="failedValidation.term ? 'has-danger' : 'class-if-false'">
              <label for="term-select"><span class="required">* </span>Term</label>
              <select name="term-select" id="term-select" class="form-control" style="width:30%;"  ng-model="orderModel.term">
                <option value="">--- Select term ---</option>
                 <option ng-repeat="term in terms" value="{{term}}">{{term}}</option>
              </select>
            </div>
          </fieldset>
        </div>

        <div id="shortcode"  class="fadein fadeout" ng-hide="orderModel.free" style="margin-top:50px;" ng-class="failedValidation.shortcode ? 'has-danger' : 'class-if-false'">
          <label for="shortcode-input"><span class="required">* </span>Enter a shortcode if the site/app will not be for academic use.</label>
          <span ng-show="validationModel.shortcode_metadata" tabindex="0" id="shortcodeValidationConfirm" class="focusTarget">
            Shortcode looked up.
            <a href="" data-toggle="modal" data-target="#shortCodeDetails">
              Verify shortcode details?
            </a><br>
          </span>
          <div id="shortcodeValidationMessage" role="alert" tabindex="0" class="validationMessage" ng-show="validationModel.shortcode===false">{{validationModel.shortcode_reason}}</div>
          <input id="shortcode-input" type="text" ng-model="orderModel.shortcode" ng-blur="validateShortCode()" class="form-control" placeholder="Enter shortcode">
          <small id="shortcodeHelp" class="form-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing.</small>
        </div>
      </fieldset>
    </div>
    <!-- Contact Information -->
    <div id="contact" ng-show="orderModel.env">
      <fieldset class="form-group">
        <legend>Contact Information</legend>

        <div id="uniq" ng-class="failedValidation.uniq ? 'has-danger' : 'class-if-false'">
          <label for="uniq-input"><span class="required">* </span>Uniqname</label>
          <input id="uniq-input" type="text" ng-model="orderModel.uniq" class="form-control" placeholder="Enter uniqname">
        </div>
        <div id="mcomm" style="margin-top:30px;" ng-class="failedValidation.mcomm ? 'has-danger' : 'class-if-false'">
          <label for="mcomm-input"><span class="required">* </span>MCommunity Group</label>
          <input id="mcomm-input" type="text" ng-model="orderModel.mcomm" class="form-control" placeholder="Enter MCommunity Group">
        </div>
      </fieldset>
    </div>
    <!-- only seen when request is complete -->
     <!--  -->
    <div ng-show="orderComplete">
      <div class="alert alert-success" role="alert">Order complete. Preview or Reset</div>
      <button class="btn btn-secondary" ng-click="resetOrder()">
          Reset
      </button>
      <button class="btn btn-primary" ng-click="validateAndPreview()">
          Preview Request
      </button>
      <span ng-if="failedValidationGlobal"> Oops. You may have skipped some settings, scroll up to see.</span>
    </div>
  </div>
</div>

<!-- Preview Modal -->
<div class="modal fade" id="requestPreview" tabindex="-1" role="dialog" aria-labelledby="requestPreviewModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requestPreviewModalTitle">Request Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="sr-only">
            <tr>
              <th scope="col">
                Detail
              </th>
              <th scope="col">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Environment
              </td>
              <td>
                {{orderModel.env | capitalize}}
              </td>
            </tr>
            <tr ng-show="orderModel.db">
              <td>
                Database
              </td>
              <td>
                <span ng-if="orderModel.db">Yes</span>
                <span ng-if="!orderModel.db">No</span>
              </td>
            </tr>
            <tr>
              <td>
                URL requested
              </td>
              <td>
                https://{{orderModel.url}}.web.umich.edu
              </td>
            </tr>
            <tr>
              <td>
                High availability
              </td>
              <td>
                <span ng-if="orderModel.avail">Yes</span>
                <span ng-if="!orderModel.avail">No</span>
              </td>
            </tr>
            <tr ng-show="orderModel.shortcode">
              <td>
                Shortcode
              </td>
              <td>
                {{orderModel.shortcode}}
              </td>
            </tr>
            <tr>
              <td>
                Sensitive data
              </td>
              <td>
                <span ng-if="orderModel.itar">Yes</span>
                <span ng-if="!orderModel.itar">No</span>
              </td>
            </tr>
            <tr>
              <td>
                Uniqname
              </td>
              <td>
                {{orderModel.uniq}}
              </td>
            </tr>
            <tr>
              <td>
                MComm group
              </td>
              <td>
                {{orderModel.mcomm}}
              </td>
            </tr>
            <tr ng-show="orderModel.free">
              <td>
                Free
              </td>
              <td>
                For: {{orderModel.course}} - {{orderModel.term}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit Request</button>
      </div>

    </div>
  </div>
</div>
<!-- Shortcode Modal -->
<div class="modal fade" id="shortCodeDetails" tabindex="-1" role="dialog" aria-labelledby="shortCodeDetailsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shortCodeDetailsTitle">Shortcode Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table ng-show="validationModel.shortcode_metadata" class="table table-striped">
        <thead>
          <tr>
            <th>
              Field
            </th>
            <th>
              Value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in validationModel.shortcode_metadata">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
