<div class="container-fluid" style="margin-top:80px">
  <div class="alert alert-success sr-only" role="alert">Switched to pricing view</div>
  <h2 class="h4">ESTIMATE YOUR NEEDS</h2>
  <h3 class="h5">Choose a Plan</h3>
  <p class="subtitle lead">The best fit for you</p>
  <div class="card-deck">
    <div class="card mt-3 blue_maize">
      <div class="card-header">
        Google Sites
      </div>
      <div class="card-block">
        <p class="card_price">FREE</p>
        <hr class="card_hr">
        <p>Available to all Google G Suite users</p>
        <p>Can use U-M domain names</p>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <label for="inst1">Instances:</label>
          <select class="form-control" id="inst1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card mt-3 blue_maize">
      <div class="card-header">
        LAMP STACK
      </div>
      <div class="card-block">
        <p class="card_price">$</p>
        <hr class="card_hr">
        <p>Available to all Google G Suite users</p>
        <p>Can use U-M domain names</p>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <label for="inst1">Instances:</label>
          <select class="form-control" id="inst1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card mt-3 blue_maize">
      <div class="card-header">
        CMS
      </div>
      <div class="card-block ">
        <p class="card_price">$$</p>
        <hr class="card_hr">
        <p>Non-production sites used to validate security patches and updates before they are applied to productions sites</p>
        <p>Latest version of Drupal and other potential CMS offerings</p>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <label for="inst1">Instances:</label>
          <select class="form-control" id="inst1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card mt-3 blue_maize">
      <div class="card-header">
        CUSTOM
      </div>
      <div class="card-block">
        <p class="card_price">$$-$$$</p>
        <hr class="card_hr">
        <p>New users receive 3 hours of free training</p>
        <p>Monthly cost is determined by RAM utilization</p>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <label for="inst1">Instances:</label>
          <select class="form-control" id="inst1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="background:#00427a;text-align:center;color:#fff;padding:20px">
    <h4 class="h5">Estimated Cost</h4>
    <p class="price">$ <span id="estimate">{{estimate}}</span> a month</p>
  </div>
</div>
