<div class="container-fluid" style="margin-top:80px">
<div class="alert alert-success sr-only" role="alert">Switched to support view</div>
  <h2 class="h4">HOW CAN WE HELP</h2>
  <p class="lead">Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>Requesting Support</h3>
      <p class="lead">
        User requests for support regarding ITS services are processed through the ITS Service Center. To contact the Service Center:
      </p>
      <ul>
        <li>
          Submit a Service Request online (login required)
        </li>
        <li>
          Call 734-764-HELP (764-4357)
        </li>
        <li>Email <a mailto="4help@umich.edu">4HELP@umich.edu</a></li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>Support Hours</h3>
      <p class="lead">
        ITS Service Center Hours as of 1/5/2017 are:
      </p>
        <ul>
          <li>
            <strong class="muted">Monday-Thursday</strong> 7:00 a.m - 7:00 p.m.
          </li>
          <li>
            <strong class="muted">Friday</strong> 7:00 a.m - 6:00 p.m.
          </li>
          <li>
            <strong class="muted">Sunday</strong> 2:00 a.m - 7:00 p.m.
          </li>

        </ul>
    </div>

  </div>
  <h2 class="h3">
    Types of support
  </h2>
  <h3 class="h5">Platform Support</h3>
  <p>ITS will provides direct support of the OpenShift platform.  This involves monitoring and response to issues involving the OpenShift application, servers, network and storage.
</p>
  <h3 class="h5">Development Team Support</h3>
  <p>Direct support will be provided to development teams during initial project setup to determine optimal project setup and roles involved.  As the development model will be new to most campus groups, questions will likely arise about development practices.  The service will need to handle basic questions about docker and construction of dockerfiles.</p>
  <p>Applications running on OpenShift rely on the platform’s stability as a foundation of their own service levels.
Additionally, some development groups request round-the-clock monitoring for their applications.  Those teams are notified via email if their application is unresponsive for reasons not related to the OpenShift platform.  The service provides this capability for additional cost.  Development teams are also notified if their applications are subject to known security vulnerabilities.
</p>
  <h3 class="h5">Self-Service Support</h3>
  <p>The service should create and foster discussion groups and communities of practice to facilitate best practice conversations.  A crowd-sourced <a href="">documentation repository</a> exists to supplement that provided by RedHat.  This documentation pertains to administrative functionality and early development practices like getting started with docker.
</p>
</div>
